<div>
Plantilla Angular hecha con:
	<ul ng-repeat="item in items">
	<li>{{item}}</li>
	</ul>
</div>
<div>

<br></br>

<ul>
	Ingresar informacion para realizar login:
	
	<body ng-controller= "Prueba">
<li>
	<!--
		USER:<input type ="text" ng-model= "Usuario.nombre">
		
		PASS: <input type ="text" ng-model= "Usuario.pass"> 
		APELLIDO: <input type ="text" ng-model= "Usuario.apellido">
		NICK: <input type ="text" ng-model= "Usuario.nick">
		EMAIL: <input type ="text" ng-model= "Usuario.mail">
		-->
		<button ng-click="PostReporte()">Crear Reporte</button>
		<button ng-click="GetReporte()">ObtenerReporte</button>
		<!-- <button ng-click="MetodoRegistro()">Registrar</button> -->
		 <!--  <button ng-click="MetodoPost()">Login</button>  -->
	
	</li>

	</body>

</ul>
</div>